In [83]:
import sys  
sys.path.append("../../")
from LIB.utils import * 
from datetime import timedelta

In [84]:
train=pd.read_csv("../data/train_revised_11.09.2018 (1).zip")
test=pd.read_csv("../data/test_questions (1).csv")

Target=train.groupby(["ride_id"]).seat_number.count().rename("number_of_ticket").reset_index()
train_df=train.drop_duplicates("ride_id").drop(['payment_method', 'payment_receipt', 'seat_number'],axis=1)
train_df=train_df.merge(Target,how="left",on="ride_id")

train_df.drop(["travel_to"],axis=1,inplace=True)
test.drop(["travel_to"],axis=1,inplace=True)

In [85]:
data_characterization(train)

shape of data : (51645, 10)

,Columns name,Type,Count unique values,Count Nan values,Ratio Nan values,Unique values,Max,Min,Mean
0,ride_id,int64,6249,0,0.0000,"[1442, 5437, 5710, 5777, 5778, 5781, 5784, 578...",20117,1442,10188.6458
1,seat_number,object,61,0,0.0000,"[15A, 14A, 8B, 19A, 11A, 18B, 25, 21B, 22A, 17...",0,0,0.0000
2,payment_method,object,2,0,0.0000,"[Mpesa, Cash]",0,0,0.0000
3,payment_receipt,object,51645,0,0.0000,"[UZUEHCBUSO, TIHLBUSGTE, EQX8Q5G19O, SGP18CL0M...",0,0,0.0000
4,travel_date,object,149,0,0.0000,"[17-10-17, 19-11-17, 26-11-17, 27-11-17, 20-04...",0,0,0.0000
5,travel_time,object,78,0,0.0000,"[7:15, 7:12, 7:05, 7:10, 7:09, 5:10, 9:50, 7:0...",0,0,0.0000
6,travel_from,object,17,0,0.0000,"[Migori, Keroka, Homa Bay, Kisii, Keumbu, Rong...",0,0,0.0000
7,travel_to,object,1,0,0.0000,[Nairobi],0,0,0.0000
8,car_type,object,2,0,0.0000,"[Bus, shuttle]",0,0,0.0000
9,max_capacity,int64,2,0,0.0000,"[49, 11]",49,11,34.5343

In [86]:
def add_20(x):
    date=x.split("-")
    date[-1]="20"+date[-1]
    return "-".join(date)
train_df["date"]=(train_df["travel_date"].apply(add_20)+" "+train_df["travel_time"]).astype(str)
test["date"]=(test["travel_date"]+" "+test["travel_time"]).astype(str)

def  time_features(x): 
    x["date"]=pd.to_datetime(x["date"],format='%d-%m-%Y %H:%M')
    x["dayofweek"]=x["date"].dt.dayofweek
    x["dayofyear"]=x["date"].dt.dayofyear
    x["dayofmonth"]=x["date"].dt.day
    x["year_woy"]=x["date"].dt.year.astype(str)+x["date"].dt.weekofyear.astype(str)
    
    x["hour"]=x["date"].dt.hour
    x["minute"]=x["date"].dt.minute
    x["is_weekend"]=x["dayofweek"].apply( lambda x : 1 if x  in [5,6] else 0 )
    x["year"]=x["date"].dt.year
    x["quarter"]=x["date"].dt.quarter
    

    return x 
train_df=time_features(train_df)


def  time_features(x): 
    x["date"]=pd.to_datetime(x["date"],format='%Y-%m-%d %H:%M')
    x["dayofweek"]=x["date"].dt.dayofweek
    x["hour"]=x["date"].dt.hour
    x["minute"]=x["date"].dt.minute
    x["dayofyear"]=x["date"].dt.dayofyear
    x["dayofmonth"]=x["date"].dt.day
    x["is_weekend"]=x["dayofweek"].apply( lambda x : 1 if x  in [5,6] else 0 )
    x["year_woy"]=x["date"].dt.year.astype(str)+x["date"].dt.weekofyear.astype(str)
    x["year"]=x["date"].dt.year
    x["quarter"]=x["date"].dt.quarter
    

    
    return x 
test=time_features(test)

In [87]:
# train_df=train_df[train_df.travel_from.isin(test.travel_from)]

In [88]:
test["train"]=0
train_df["train"]=1
data=pd.concat([test,train_df])
data.sort_values(["travel_from","date"],inplace=True,ascending=True)
data["diff_btw_0_1_next_bus"]=(data["date"]-data.groupby(["travel_from"]).date.shift(-1)).dt.total_seconds()/60/60
data["diff_btw_0_1_previous_bus"]=(data["date"]-data.groupby(["travel_from"]).date.shift(1)).dt.total_seconds()/60/60
data["diff_btw_0_2_next_bus"]=(data["date"]-data.groupby(["travel_from"]).date.shift(-2)).dt.total_seconds()/60/60
data["diff_btw_0_2_previous_bus"]=(data["date"]-data.groupby(["travel_from"]).date.shift(2)).dt.total_seconds()/60/60
data["diff_btw_0_3_next_bus"]=(data["date"]-data.groupby(["travel_from"]).date.shift(-3)).dt.total_seconds()/60/60
data["diff_btw_0_3_previous_bus"]=(data["date"]-data.groupby(["travel_from"]).date.shift(3)).dt.total_seconds()/60/60
data["diff_btw_next_previous_bus"]=(data.groupby(["travel_from"]).date.shift(-1)-data.groupby(["travel_from"]).date.shift(1)).dt.total_seconds()/60/60
fea=['diff_btw_0_1_next_bus', 'diff_btw_0_1_previous_bus', 'diff_btw_0_2_next_bus', 'diff_btw_0_2_previous_bus',
     'diff_btw_0_3_next_bus', 'diff_btw_0_3_previous_bus',
     'diff_btw_next_previous_bus']
data[fea]=data.groupby(["travel_from"])[fea].fillna(method="ffill")
data[fea]=data.groupby(["travel_from"])[fea].fillna(method="backfill")

In [89]:
# data.sort_values(["travel_from","date","car_type"],inplace=True,ascending=True)
# data.reset_index(inplace=True,drop=True)
# data["diff_btw_0_1_next_bus_car_type"]=(data["date"]-data.groupby(["travel_from","car_type"]).date.shift(-1)).dt.total_seconds()/60/60
# data["diff_btw_0_1_previous_bus_car_type"]=(data["date"]-data.groupby(["travel_from","car_type"]).date.shift(1)).dt.total_seconds()/60/60
# data["diff_btw_0_2_next_bus_car_type"]=(data["date"]-data.groupby(["travel_from","car_type"]).date.shift(-2)).dt.total_seconds()/60/60
# data["diff_btw_0_2_previous_bus_car_type"]=(data["date"]-data.groupby(["travel_from","car_type"]).date.shift(2)).dt.total_seconds()/60/60
# data["diff_btw_0_3_next_bus_car_type"]=(data["date"]-data.groupby(["travel_from","car_type"]).date.shift(-3)).dt.total_seconds()/60/60
# data["diff_btw_0_3_previous_bus_car_type"]=(data["date"]-data.groupby(["travel_from","car_type"]).date.shift(3)).dt.total_seconds()/60/60
# data["diff_btw_next_previous_bus_car_type"]=(data.groupby(["travel_from"]).date.shift(-1)-data.groupby(["travel_from","car_type"]).date.shift(1)).dt.total_seconds()/60/60
# fea=['diff_btw_0_1_next_bus_car_type', 'diff_btw_0_1_previous_bus_car_type', 'diff_btw_0_2_next_bus_car_type', 'diff_btw_0_2_previous_bus_car_type',
#      'diff_btw_0_3_next_bus_car_type', 'diff_btw_0_3_previous_bus_car_type',
#      'diff_btw_next_previous_bus_car_type']
# for col in fea : 
#     data[col]=data.groupby(["travel_from","car_type"],as_index=False)[col].fillna(method="ffill").reset_index(drop=[0,1])
#     data[col]=data.groupby(["travel_from","car_type"],as_index=False)[col].fillna(method="backfill").reset_index(drop=[0,1])

In [90]:
data["diff_btw_0_1_next_bus_bins"]=pd.cut(data.diff_btw_0_1_next_bus,100,labels=False)
data["diff_btw_0_1_previous_bus_bins"]=pd.cut(data.diff_btw_0_1_previous_bus,100,labels=False)

data["diff_btw_0_2_next_bus_bins"]=pd.cut(data.diff_btw_0_1_next_bus,100,labels=False)
data["diff_btw_0_2_previous_bus_bins"]=pd.cut(data.diff_btw_0_1_previous_bus,100,labels=False)

In [91]:
holidays_date=[datetime(2018,1,1),
              datetime(2018,3,30),
              datetime(2018,4,2),
              datetime(2018,6,1),
              datetime(2018,6,15),
              datetime(2017,10,20),
              datetime(2017,11,7),
              datetime(2017,12,12),
              datetime(2017,12,25),
              datetime(2017,12,26)]
                                      
holidays_date_mins_one_day=[ (day- timedelta(days=1)).date() for day in holidays_date]
holidays_date_mins_two_day=[ (day- timedelta(days=2)).date() for day in holidays_date]

holidays_date_plus_one_day=[ (day+ timedelta(days=1)).date() for day in holidays_date]
holidays_date=[ day.date() for day in holidays_date]

data["is_holidays"]=0
data["is_yesterday_holidays"]=0
data["is_tommorw_holidays"]=0
data["is_after_toomorw_holidays"]=0



data.loc[data.date.dt.date.isin(holidays_date),"is_holidays"]=1
data.loc[data.date.dt.date.isin(holidays_date_mins_one_day),"is_tommorw_holidays"]=1
data.loc[data.date.dt.date.isin(holidays_date_plus_one_day),"is_yesterday_holidays"]=1
data.loc[data.date.dt.date.isin(holidays_date_mins_two_day),"is_after_toomorw_holidays"]=1

In [92]:
# data["count_trip_per_date"]=data.groupby("date").ride_id.transform("count")
# data["count_trip_per_date_travel_from"]=data.groupby(["date","travel_from"]).ride_id.transform("count")

# data.sort_values("date",inplace=True)
# data["count_trip_per_date_yesterday"]=data.groupby("date").count_trip_per_day.shift(1)
# data["count_trip_per_date_tommorw"]=data.groupby("date").count_trip_per_day.shift(-1)
# fea=["count_trip_per_date_yesterday","count_trip_per_date_tommorw"]
# data[fea]=data[fea].fillna(method="ffill")
# data[fea]=data[fea].fillna(method="backfill")

In [93]:
# data["Date"]=data.date.dt.date
# data["count_trip_per_day"]=data.groupby("Date").ride_id.transform("count")
# data["count_trip_per_day_travel_from"]=data.groupby(["Date","travel_from"]).ride_id.transform("count")

# data.sort_values("date",inplace=True)
# data["count_trip_per_day_yesterday"]=data.groupby("Date").count_trip_per_day.shift(1)
# data["count_trip_per_day_tommorw"]=data.groupby("Date").count_trip_per_day.shift(-1)
# fea=["count_trip_per_day_yesterday","count_trip_per_day_tommorw"]
# data[fea]=data[fea].fillna(method="ffill")
# data[fea]=data[fea].fillna(method="backfill")
# del data["Date"]

In [94]:
# # data["count_trip_per_week"]=data.groupby("year_woy").ride_id.transform("count")
# # data["count_trip_per_month"]=data.groupby([pd.Grouper(key="date",freq='M')]).ride_id.transform("count")
# data["count_trip_per_1min"]=data.groupby([pd.Grouper(key="date",freq='1min')]).ride_id.transform("count")
# data["count_trip_per_3min"]=data.groupby([pd.Grouper(key="date",freq='3min')]).ride_id.transform("count")

# data["count_trip_per_5min"]=data.groupby([pd.Grouper(key="date",freq='5min')]).ride_id.transform("count")
# data["count_trip_per_10min"]=data.groupby([pd.Grouper(key="date",freq='10min')]).ride_id.transform("count")
# data["count_trip_per_15min"]=data.groupby([pd.Grouper(key="date",freq='15min')]).ride_id.transform("count")
# data["count_trip_per_30min"]=data.groupby([pd.Grouper(key="date",freq='30min')]).ride_id.transform("count")
# data["count_trip_per_60min"]=data.groupby([pd.Grouper(key="date",freq='60min')]).ride_id.transform("count")


# # data["count_trip_per_week_travel_from"]=data.groupby(["year_woy","travel_from"]).ride_id.transform("count")
# # data["count_trip_per_month_travel_from"]=data.groupby([pd.Grouper(key="date",freq='M'),"travel_from"]).ride_id.transform("count")
# # data["count_trip_per_4days_travel_from"]=data.groupby([pd.Grouper(key="date",freq='4d'),"travel_from"]).ride_id.transform("count")
# data["count_trip_per_1min_travel_from"]=data.groupby([pd.Grouper(key="date",freq='1min'),"travel_from"]).ride_id.transform("count")
# data["count_trip_per_3min_travel_from"]=data.groupby([pd.Grouper(key="date",freq='3min'),"travel_from"]).ride_id.transform("count")

# data["count_trip_per_5min_travel_from"]=data.groupby([pd.Grouper(key="date",freq='5min'),"travel_from"]).ride_id.transform("count")
# data["count_trip_per_10min_travel_from"]=data.groupby([pd.Grouper(key="date",freq='10min'),"travel_from"]).ride_id.transform("count")
# data["count_trip_per_15min_travel_from"]=data.groupby([pd.Grouper(key="date",freq='15min'),"travel_from"]).ride_id.transform("count")
# data["count_trip_per_30min_travel_from"]=data.groupby([pd.Grouper(key="date",freq='30min'),"travel_from"]).ride_id.transform("count")
# data["count_trip_per_60min_travel_from"]=data.groupby([pd.Grouper(key="date",freq='60min'),"travel_from"]).ride_id.transform("count")

# # del data["year_woy"]
for i in [1,3,5,7,10,15] :
# for i in [1,3,5,7,10,15] :

    data["count_trip_per_{}min_travel_from".format(str(i))]=data.groupby([pd.Grouper(key="date",freq='{}min'.format(i)),"travel_from"]).ride_id.transform("count")
    data["count_trip_per_{}min".format(str(i))]=data.groupby([pd.Grouper(key="date",freq='{}min'.format(i))]).ride_id.transform("count")

In [95]:
# data["last1mnt"]=data.date.map(data.groupby([pd.Grouper(key="date",freq='{}min'.format(5))]).ride_id.count().sort_index().shift(1))
# data["next1mnt"]=data.date.map(data.groupby([pd.Grouper(key="date",freq='{}min'.format(5))]).ride_id.count().sort_index().shift(-1))
# fea=["next1mnt","last1mnt"]
# data[fea]=data[fea].fillna(method="ffill")
# data[fea]=data[fea].fillna(method="backfill")

In [96]:
# print(data.count_trip_per_1min.min(),data.count_trip_per_1min.max())
# print(data.count_trip_per_5min.min(),data.count_trip_per_5min.max())
# print(data.count_trip_per_10min.min(),data.count_trip_per_10min.max())
# print(data.count_trip_per_15min.min(),data.count_trip_per_15min.max())
# data.count_trip_per_1min.hist(bins=100)
# plt.show()
# data.count_trip_per_5min.hist(bins=100)
# plt.show()
# data.count_trip_per_10min.hist(bins=100)
# plt.show()
# data.count_trip_per_15min.hist(bins=100)
# plt.show()

In [97]:
# data["days_min_max_ride"]=(data.groupby(["travel_from"]).date.transform("max")-data.groupby(["travel_from"]).date.transform("min")).dt.total_seconds()/(60*60)
# data["days_since_first_ride"]=-((data.groupby(["travel_from"]).date.transform("min")-data.date).dt.total_seconds())/(60*60)
# data["days_since_last_ride"]=((data.groupby(["travel_from"]).date.transform("max")-data.date).dt.total_seconds())/(60*60)

In [98]:
distance = {'Migori': 372 , 'Keroka': 281, 'Homa Bay':364, 'Kisii':305.1, 'Keumbu':295, 'Rongo':332,
'Kijauri':271, 'Oyugis':330.6, 'Awendo':351, 'Sirare':392, 'Nyachenge':326, 'Kehancha': 387.7,
'Kendu Bay':347, 'Sori':399, 'Rodi':348, 'Mbita':401, 'Ndhiwa': 371}
data["travel_from_distance"]=data.travel_from.map(distance)

In [99]:
# time = {'Migori': 35,240 , 'Keroka': , 'Homa Bay':40,319, 'Kisii':28,547 , 'Keumbu': , 'Rongo':,
# 'Kijauri':,'Oyugis':10,116, 'Awendo':, 'Sirare':, 'Nyachenge':, 'Kehancha':,
# 'Kendu Bay':, 'Sori':, 'Rodi':, 'Mbita':, 'Ndhiwa': }
# data["travel_from_time"]=data.travel_from.map(time)

In [100]:
time = {'Migori': 7*60+8 , 'Keroka': 5*60, 'Homa Bay':7*60, 'Kisii':5*60+34, 'Keumbu':5*60+20, 'Rongo':6*60+21,
'Kijauri':60*4+50,'Oyugis':5*60+50, 'Awendo':6*60+38, 'Sirare':7*60+30, 'Nyachenge':6*60+10, 'Kehancha':7*60+10,
'Kendu Bay':6*60+10, 'Sori':7*60+30, 'Rodi':6*60+40, 'Mbita':7*60+23, 'Ndhiwa': 7*60}
data["travel_from_time"]=data.travel_from.map(time)

In [101]:
data["Speed"]=data.travel_from_time/data.travel_from_distance
data["Speed_max_capicty"]=(data.travel_from_time/data.travel_from_distance)*data.max_capacity

In [102]:
from datetime import datetime, timedelta

time = {'Migori': 7*60+8 , 'Keroka': 5*60, 'Homa Bay':7*60, 'Kisii':5*60+34, 'Keumbu':5*60+20, 'Rongo':6*60+21,
'Kijauri':60*4+50,'Oyugis':5*60+50, 'Awendo':6*60+38, 'Sirare':7*60+30, 'Nyachenge':6*60+10, 'Kehancha':7*60+10,
'Kendu Bay':6*60+10, 'Sori':7*60+30, 'Rodi':6*60+40, 'Mbita':7*60+23, 'Ndhiwa': 7*60}
for key in time.keys(): 
    time[key]=timedelta( minutes=time[key])
data["travel_from_date"]=data.travel_from.map(time)
data["arrived_date"]=data.date+ data.travel_from_date
data["hod_arrived_date"]=data["arrived_date"].dt.hour
data["minute_arrived_date"]=data["arrived_date"].dt.minute
del data["travel_from_date"],data["arrived_date"]
data["is_rush_hour"]=0
data.loc[data.hod_arrived_date.between(7,17),"is_rush_hour"]=1

In [103]:
# external_data=pd.read_csv("../Untitled Folder/external_data.csv")
# data=data.merge(external_data,how="left",on="travel_from")

In [104]:
external_data=pd.read_csv("../data/weather/weather_mean.csv")
# external_data=pd.read_csv("../data/weather/weather_mean_v2.csv")

external_data["date"]=pd.to_datetime(external_data.date).dt.date
data["12H"]=data["hour"].apply(lambda x : 1 if 0<=x<12 else  0 )
data.date=data.date.dt.date
data=data.merge(external_data,how="left",on=["12H","date"])
# del data["12H"]

In [105]:
# external_data=pd.read_csv("../data/weather/weather_median.csv")
# external_data["date"]=pd.to_datetime(external_data.date).dt.date
# data["12H"]=data["hour"].apply(lambda x : 1 if 0<=x<12 else  0 )
# data=data.merge(external_data,how="left",on=["12H","date"])
# del data["12H"]

In [106]:
data["count_travel_from"]=data.travel_from.map(data.travel_from.value_counts())
data["count_travel_from"]=pd.cut(data["count_travel_from"],35,labels=False)

In [107]:
data["time_minute"]=data.hour*60+data.minute

In [108]:
# data_mini=data[data.car_type=="Bus"]
# data_mini=data_mini.groupby(["travel_from","travel_date"]).ride_id.count().rename("Count_bus_per_travel_from_date").reset_index()
# data=data.merge(data_mini,on=["travel_from","travel_date"],how="left")

# data_mini=data[data.car_type=="shuttle"]
# data_mini=data_mini.groupby(["travel_from","travel_date"]).ride_id.count().rename("Count_shuttle_per_travel_from_date").reset_index()
# data=data.merge(data_mini,on=["travel_from","travel_date"],how="left")

In [109]:
# data.Count_shuttle_per_travel_from_date.fillna(0,inplace=True)
# data.Count_bus_per_travel_from_date.fillna(0,inplace=True)

In [110]:
# data["unique_count"]=1
# data.sort_values(["travel_from","date"],inplace=True)
# data["cum_count_per_travel_from"]=data.groupby(["travel_from"]).unique_count.cumsum()
# data["cum_count_per_travel_from_week_of_year"]=data.groupby(["year_woy","travel_from"]).unique_count.cumsum()

In [111]:
del data["year_woy"]

In [112]:
def haversine(latlong1, latlong2):
    lat_1s = np.array([x[0] for x in latlong1])
    lon_1s = np.array([x[1] for x in latlong1])
    lat_2s = np.array([x[0] for x in latlong2])
    lon_2s = np.array([x[1] for x in latlong2])
    lon1, lat1, lon2, lat2 = map(np.radians, [lon_1s, lat_1s, lon_2s, lat_2s])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2
    km = 6367 * 2 * np.arcsin(np.sqrt(a))
    return km



def bearing(latlong1, latlong2):
    lat1 = np.array([x[0] for x in latlong1])
    lon1 = np.array([x[1] for x in latlong1])
    lat2 = np.array([x[0] for x in latlong2])
    lon2 = np.array([x[1] for x in latlong2])
    delta_lon = np.radians(lon2 - lon1)
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])
    x = np.cos(lat2) * np.sin(delta_lon)
    y = np.cos(lat1) * np.sin(lat2) - np.sin(lat1) * np.cos(lat2) * np.cos(delta_lon)
    return np.degrees(np.arctan2(x, y))

In [113]:
lat = {'Migori': -1.063590 , 'Keroka': -0.775880, 'Homa Bay':-0.527180, 'Kisii':-0.674230, 'Keumbu':-0.734310, 'Rongo':-0.755324,
'Kijauri':-0.772980, 'Oyugis':-0.509360, 'Awendo':-0.893820, 'Sirare':-1.246610, 'Nyachenge':-0.726110, 'Kehancha': -1.192040,
'Kendu Bay':-0.369200, 'Sori':-0.843329, 'Rodi':-0.624863, 'Mbita':-0.421886, 'Ndhiwa': -0.733300}

Long = {'Migori': 34.472919 , 'Keroka': 34.945740, 'Homa Bay':34.455711, 'Kisii':34.770741, 'Keumbu':34.846291, 'Rongo':34.599899,
'Kijauri':34.967369, 'Oyugis':34.735409, 'Awendo':34.530819, 'Sirare':34.475368, 'Nyachenge':34.648750, 'Kehancha': 34.621380,
'Kendu Bay':34.652802, 'Sori':34.158842, 'Rodi':34.502402, 'Mbita':34.207587, 'Ndhiwa': 34.366600}
data["travel_from_lat"]=data.travel_from.map(lat)
data["travel_from_Long"]=data.travel_from.map(Long)
data["Afya_Centr_Long"]=36.827845
data["Afya_Centr_lat"]=-1.287811
data["haversine_distance"]=haversine(data[['travel_from_lat', 'travel_from_Long']].apply(tuple, axis=1),
                                    data[['Afya_Centr_lat', 'Afya_Centr_Long']].apply(tuple, axis=1))

data["bearing_distance"]=bearing(data[['travel_from_lat', 'travel_from_Long']].apply(tuple, axis=1),
                                    data[['Afya_Centr_lat', 'Afya_Centr_Long']].apply(tuple, axis=1))
del data["Afya_Centr_Long"],data["Afya_Centr_lat"]

In [114]:
# from sklearn.decomposition import PCA 
# # pca_array=data[["bearing_distance","haversine_distance","travel_from_time","travel_from_distance"]].values
# pca=PCA(n_components=2).fit_transform(data[["bearing_distance","haversine_distance","travel_from_time","travel_from_distance"]])
# pca=pd.DataFrame(data=pca,columns=["dis_pca_1","dis_pca_2"])
# data=pd.concat([data,pca],axis=1)

In [208]:
train_df=data[data.train==1]
test_df=data[data.train==0]
test_df.drop(["number_of_ticket"],axis=1,inplace=True)
map_categorical_feautres(Data=[train_df,test_df],columns=["car_type","travel_from","year"])  
uber=pd.read_csv("./uber_data.csv")
train_df=train_df.merge(uber,how="left",on="ride_id")
test_df=test_df.merge(uber,how="left",on="ride_id")

car_type
travel_from
year

In [209]:
col_to_aggr=[["hour"],
            ["travel_from"],
             ["minute"] ,
            ["hour","dayofweek"],
            ["hour","travel_from"],
            ["dayofweek","travel_from"] ,
             ["minute","travel_from"] ,

            
            


 ]
train_df,test_df=aggr_func(train=train_df,test=test_df,vars_to_agg=col_to_aggr,func=["mean"],
         vars_be_agg="number_of_ticket",fillnan=True,bagging=False,ID="ride_id" ,n_folds=6,shuffle=True)

In [210]:
# per_75=lambda x : np.percentile(x ,75)
# per_75.__name__="per_80"

# per_60=lambda x : np.percentile(x ,30)
# per_60.__name__="per_60"
# col_to_aggr=[["hour"],
         
     
#             ["hour","travel_from"],
          
#              ["minute","travel_from"] ,

   
            


#  ]
# train_df,test_df=aggr_func(train=train_df,test=test_df,vars_to_agg=col_to_aggr,func=[per_75,per_60],
#          vars_be_agg="number_of_ticket",fillnan=True,bagging=False,ID="ride_id" ,n_folds=10,shuffle=True)

In [211]:
col_to_aggr=["travel_from"]
#              ,["hour"],["minute"]
#             ]
train_df,test_df=aggr_func(train=train_df,test=test_df,vars_to_agg=col_to_aggr,func=["sum"],
         vars_be_agg="number_of_ticket",fillnan=True,bagging=False,ID="ride_id" ,n_folds=6,shuffle=True)

In [212]:
train_df.number_of_ticket_by_travel_from_sum=train_df.number_of_ticket_by_travel_from_sum/train_df.number_of_ticket.sum()
test_df.number_of_ticket_by_travel_from_sum=test_df.number_of_ticket_by_travel_from_sum/train_df.number_of_ticket.sum()
# train_df.number_of_ticket_by_hour_sum=train_df.number_of_ticket_by_hour_sum/train_df.number_of_ticket.sum()
# test_df.number_of_ticket_by_hour_sum=test_df.number_of_ticket_by_hour_sum/train_df.number_of_ticket.sum()
# train_df.number_of_ticket_by_minute_sum=train_df.number_of_ticket_by_minute_sum/train_df.number_of_ticket.sum()
# test_df.number_of_ticket_by_minute_sum=test_df.number_of_ticket_by_minute_sum/train_df.number_of_ticket.sum()

In [213]:
# col_to_aggr=[["hour"],
#             ["travel_from"],
#              ["minute"] ,
#             ["hour","dayofweek"],
#             ["hour","travel_from"],
#             ["dayofweek","travel_from"] ,
#              ["minute","travel_from"] ,





#  ]
# train_df,test_df=aggr_func(train=train_df,test=test_df,vars_to_agg=col_to_aggr,func=["mean"],
#          vars_be_agg="Cap_ticket",fillnan=True,bagging=False,ID="ride_id" ,n_folds=6,shuffle=True)

In [214]:
# cols=train_df.columns.tolist()
# cols.remove("number_of_ticket")
# cols=["number_of_ticket"]+cols
# correlation_matrix_pandas(train_df[cols])

In [215]:
# train_df.date=pd.to_datetime(train_df.date).dt.date
# train_df_2018=train_df[train_df.date>=datetime(2018,1,1).date()]
# len(train_df_2018)

In [216]:
# nbr_of_bins=3
# train_df["number_of_ticket_bins"]=pd.cut(train_df.number_of_ticket,nbr_of_bins,labels=False)
# count=pd.pivot_table(train_df,values="ride_id",index=["travel_from"],columns=["number_of_ticket_bins"],aggfunc=["count"])
# count.columns=[ "number_of_ticket_bins"+str(e[1] ) for e  in  count.columns.tolist()]
# count.reset_index(inplace=True)
# count.fillna(0,inplace=True)
# # count["totale_count"]
# count.head()
# del train_df["number_of_ticket_bins"]
# train_df=train_df.merge(count,how="left",on="travel_from")
# test_df=test_df.merge(count,how="left",on="travel_from")

In [217]:
v="5"

train_df.to_csv("./final_data/train_{}.csv".format(v),index=False)
test_df.to_csv("./final_data/test_{}.csv".format(v),index=False)