In [13]:
import sys  
sys.path.append("../../../")
from LIB.utils import * 
from datetime import timedelta

In [14]:
weather=pd.read_csv("./weather.csv")
weather.columns=['Time', 'T', 'P0', 'P', 'U', 'DD',
       'Ff', 'ff10', 'WW', 'W', 'c', 'VV', 'Td']
weather["Time"]=pd.to_datetime(weather.Time,format="%d.%m.%Y %H:%M")
weather["date"]=weather["Time"].dt.date
weather["hour"]=weather["Time"].dt.hour
weather["12H"]=weather["hour"].apply(lambda x : 1 if 0<=x<12 else  0 )
weather_mean=weather.groupby(["date","12H"])[["T","P0"]].agg(["mean"])
weather_mean.columns=[e[0]+"_"+e[1] for e  in weather_mean.columns.tolist()]
weather_mean.reset_index(inplace=True)
weather_mean.head()

         date  12H  T_mean  P0_mean
0  2017-10-17    0 24.7000 629.9300
1  2017-10-17    1 18.8571 629.3857
2  2017-10-18    0 24.4000 628.9900
3  2017-10-18    1 19.9000 629.1500
4  2017-10-19    0 23.6250 629.7375

In [15]:
weather_mean.to_csv("weather_mean.csv",index=False)